<!DOCTYPE html>
<html>
  <head>
       <%- include('../layout/head') %>
  </head>
<body>
  <header>
      <%- include('../layout/header') %>
  </header>
  <div>
    <img class="topimg" src="../img/bagan-1137015_1280resize2.jpg">
    <h1>Bold Move</h1>
  </div>
  <h3>~Weather~</h3>
<main>
  <div class="main-weather"></div>
    <ul class="weather-results">
      <li id="today">
        <h4><%= weather.currentTemp %></h4>
        <p class="weatherP"><%= weather.currentPrecip %></p>
        <p class="weatherP"><%= weather.currentSummary %></p>
      </li>
      <li id="tomorrow">
        <h4><%= weather.tomorrowHigh %></h4>
        <h4><%= weather.tomorrowLow %></h4>
        <p class="weatherP"><%= weather.tomorrowPrecip %></p>
        <p class="weatherP"><%= weather.tomorrowSummary %></p>
      </li>
    </ul>
  </div>
  </main>
  <footer>
      <%- include('../layout/footer') %>
  </footer>
</body>
</html>