<!DOCTYPE html>
<html>
  <head>
       <%- include('../layout/head') %>
  </head>
<body>
  <header>
      <%- include('../layout/header') %>
  </header>
  <h3>~Weather~</h3>
<main>
  <div class="main-weather"></div>
    <ul class="weather-results">
      <li id="today">
        <h4>Currently <%= weather.currentTemp %>° F</h4>
        <p class="weatherP"><%= weather.currentSummary %></p>
        <p class="weatherP">Chance of Precipitation: <%= weather.currentPrecip %>%</p>
        <p class="weatherP">Humidity: <%= weather.currentHumidity %>%</p>
        <p class="weatherP">Cloud Cover: <%= weather.currentCloudCover %>%</p>
        <p class="weatherP"> Wind Speed: <%= weather.currentWindSpeed %> MPH</p>
        <p class="weatherP">Average Visibility: <%= weather.currentVisibility %> Miles</p>
        
    
      </li>
      <li id="tomorrow">
        
        <h4>High <%= weather.tomorrowHigh %>° F</h4>
        <h4>Low <%= weather.tomorrowLow %>° F</h4>
        <p class="weatherP"><%= weather.tomorrowSummary %></p>
        <p class="weatherP">Chance of Precipitation: <%= weather.tomorrowPrecip %>%</p>
        <p class="weatherP">Humidity: <%= weather.tomorrowHumidity %>%</p>
        <p class="weatherP">Cloud Cover: <%= weather.tomorrowCloudCover %>%</p>
        <p class="weatherP">Wind Speed: <%= weather.tomorrowWindSpeed %> MPH</p>
        <p class="weatherP">Average Visibility: <%= weather.tomorrowVisibility %> Miles</p>
      </li>
    </ul>
  </div>
  </main>
  <footer>
      <%- include('../layout/footer') %>
  </footer>
</body>
</html>