<!DOCTYPE html>
<html>
  <head>
       <%- include('../layout/head') %>
  </head>
<body>
  <header>
      <%- include('../layout/header') %>
  </header>
  <h3>~Weather~</h3>
<main>
  <div class="main-weather"></div>
    <ul class="weather-results">
      <li class="weatherSection">
        <h4>Today's Forecast</h4>
        <h3>Currently: <%= weather.currentTemp %>° F</h3>
            <div id="weatherParagraph">
            <p><%= weather.currentSummary %></p>
            <p>Chance of Precipitation: <%= weather.currentPrecip %>%</p>
            <p>Humidity: <%= weather.currentHumidity %>%</p>
            <p>Cloud Cover: <%= weather.currentCloudCover %>%</p>
            <p> Wind Speed: <%= weather.currentWindSpeed %> MPH</p>
            <p>Average Visibility: <%= weather.currentVisibility %> Miles</p>
      </div>
    
      </li>
      <li class="weatherSection">
        <h4>Tomorrow's Forecast</h4>
        <h3>High <%= weather.tomorrowHigh %>° F</h3>
        <h3>Low <%= weather.tomorrowLow %>° F</h3>
          <div id="weatherParagraph"></div>
            <p><%= weather.tomorrowSummary %></p>
            <p>Chance of Precipitation: <%= weather.tomorrowPrecip %>%</p>
            <p>Humidity: <%= weather.tomorrowHumidity %>%</p>
            <p>Cloud Cover: <%= weather.tomorrowCloudCover %>%</p>
            <p>Wind Speed: <%= weather.tomorrowWindSpeed %> MPH</p>
            <p>Average Visibility: <%= weather.tomorrowVisibility %> Miles</p>
      </li>
    </ul>
  </div>
  </main>
  <footer>
      <%- include('../layout/footer') %>
  </footer>
</body>
</html>