<!DOCTYPE html>
<html>
  <head>
       <%- include('../layout/head') %>
  </head>
<body>
  <header>
      <%- include('../layout/header') %>
  </header>
  <div>
    <img src="../img/bagan-1137015_1280resize.jpg">
    <h1>Bold Move</h1>
  </div>
  <h3>~Weather~</h3>

<main>
  <div class="main-weather"></div>
  <ul class="weather-results">
          <section id="today">
            <h3><%= weather.currentTemp %></h3>
            <p><%= weather.currentPrecip %></p>
            <p><%= weather.currentSummary %></p>
          </section>
          <section>
            <h3><%= weather.tomorrowHigh %></h3>
            <h3><%= weather.tomorrowLow %></h3>
            <p><%= weather.tomorrowPrecip %></p>
            <p><%= weather.tomorrowSummary %></p>
          </section>

        </div>
      </li>
  </ul>
  
  </main>
  <footer>
      <%- include('../layout/footer') %>
  </footer>
</body>
</html>