<!DOCTYPE html>
<html>
  <head>
       <%- include('../layout/head') %>
  </head>
<body>
  <header>
      <%- include('../layout/header') %>
  </header>
  <h3>~Weather~</h3>
<main>
  <div class="main-weather"></div>
    <ul class="weather-results">
      <li class="weatherSection">
        <h4>Today's Forecast</h4>
        <h3>Currently: <%= weather.current_temp %>° F</h3>
          <div id="weatherParagraph">
            <p>Summary: <%= weather.current_summary %></p>
            <p>Chance of Precipitation: <%= weather.current_precip %>%</p>
            <p>Humidity: <%= weather.current_humidity %>%</p>
            <p>Cloud Cover: <%= weather.current_cloud_cover %>%</p>
            <p> Wind Speed: <%= weather.current_wind_speed %> MPH</p>
            <p>Average Visibility: <%= weather.current_visibility %> Miles</p>
          </div>
      </li>
      <li class="weatherSection">
        <h4>Tomorrow's Forecast</h4>
        <h3>High <%= weather.tomorrow_high %>° F</h3>
        <h3>Low <%= weather.tomorrow_low %>° F</h3>
          <div id="weatherParagraph">
            <p>Summary: <%= weather.tomorrow_summary %></p>
            <p>Chance of Precipitation: <%= weather.tomorrow_precip %>%</p>
            <p>Humidity: <%= weather.tomorrow_humidity %>%</p>
            <p>Cloud Cover: <%= weather.tomorrow_cloud_cover %>%</p>
            <p>Wind Speed: <%= weather.tomorrow_wind_speed %> MPH</p>
            <p>Average Visibility: <%= weather.tomorrow_visibility %> Miles</p>
          </div>
      </li>
    </ul>
  </div>
  </main>
  <footer>
      <%- include('../layout/footer') %>
  </footer>
</body>