<!DOCTYPE html>
<html>
  <head>
    <%- include('../layout/head') %>
  </head>
  <body>
    <header>
      <%- include('../layout/header') %>
    </header>
    <div>
      <img class="topimg" src="../img/bagan-1137015_1280resize.jpg">
      <h1>Bold Move</h1>
    </div>
    <h3>~Yelp~</h3>
    <form action="/yelpSearch" method="POST">
      <fieldset>
        <label>
          <span>Search: </span>
          <input type="text" name="yelpSearchInquiry" id="search-input" required>
        </label>
        <button class="generalButton" type="submit">Search</button>
      </fieldset>
    </form>
    <h4>Saved Previous Searches: </h4>
    <ul>
      <% yelpDBRestuls.forEach( yelp => { %>
        <li>
          <section>
            <h4><a href="<%= yelp.url%>"><%= yelp.name %></a></h4>
            <div class="yelpLabels">
              <span>Rating</span>
                <p><%= yelp.rating%></p>
            </div>
            <div class="yelpLabels">
              <span>Price</span>
                <p><%= yelp.price%></p>
            </div>
            <img class="yelpImg" src="<%= yelp.image_url %>"> 
            <form action="/yelpDelete/<%= yelp.id %>" method="post">
              <input type="hidden" name="_method" value="delete">
              <button class="generalButton" type="submit">Delete from your Yelp list</button>
            </form>
          </section>
        </li>
      <% }) %>
    </ul>
    <footer> <%- include('../layout/footer.ejs') %> </footer>
  </body>
</html>