<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bold Move</title>
</head>
<body>
  <form>
    <fieldset>
      <label>
        <span>Search: </span>
        <input type="text" name="location" id="search-input" required>
      </label>
    </fieldset>
  </form>
  <p>Saved Previous Searches: </p>
  <ul>
    <% yelpDBRestuls.forEach( yelp = > {%>
      <li>
        <section></section>
          <h4><%= yelp.name %></h4>
          <span>URL</span>
            <p><%= yelp.url%></p>
          <span>Rating</span>
            <p><%= yelp.rating%></p>
          <span>Price</span>
            <p><%= yelp.price%></p>
        </section>
        <img src="<%= yelp.image_url %>"> 
        <form action="" method="post">
            <input type="hidden" name="_method" value="delete">
            <button type="submit">X</button>
        </form>
      </li>
    <% }) %>
  </ul>
</body>
</html>